[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
.vs/
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
.vsconfig

# Unity crash recovery backups
[Aa]ssets/_Recovery/
[Aa]ssets/_Recovery.meta